### Import necessary libraries, packages, and dependencies 
- Use os to access the operating system
- Use pandas to create DataFrames and perform analysis 
- Use datetime to convert dates/timestamps to datetime
- Use dotenv to access .env variables 
- Use sqlalchemy to connect to postgres

In [3]:
import os
import pandas as pd
from datetime import datetime
from dotenv import load_dotenv
from sqlalchemy import create_engine

### Connect to database and retrieve necessary data
- Connect to the 'arbi_db' database 
- Retrieve all data from the 'control' table

In [4]:
# Load environment variables from .env file
load_dotenv()

# Access the variables 
psql_username = os.getenv('PSQL_USERNAME')
psql_password = os.getenv('PSQL_PASSWORD')
psql_host = os.getenv('PSQL_HOST')
psql_port = os.getenv('PSQL_PORT')
db_name = os.getenv('DB_NAME')

# Define the database url
db_url = f"postgresql://{psql_username}:{psql_password}@{psql_host}:{psql_port}/{db_name}" 

# Create the engine object
engine = create_engine(db_url)

# Write ethe SQL query
query = 'SELECT * FROM control'

# Read the SQL query into a DataFrame
control_df = pd.read_sql(query, engine)

# Show the DataFrame's head
control_df.head()

,trade_count,current_datetime,currency,volume,buy_exchange,buy_price,total_purchase_amount,sell_exchange,sell_price,total_sale_amount,profit,spread_percentage
0,1,2024-02-27T10:06:47.129079,bitcoin,1.0,Binance,57067.43000,57067.43000,Bitstamp,57075.00000,57075.00000,7.57000,0.013265
1,2,2024-02-27T10:06:47.129079,polygon,1.0,Binance,1.03430,1.03430,Poloniex,1.03595,1.03595,0.00165,0.159528
2,3,2024-02-27T10:06:47.129079,polygon,1.0,Bitstamp,1.03441,1.03441,Poloniex,1.03595,1.03595,0.00154,0.148877
3,4,2024-02-27T10:06:47.129079,polygon,1.0,Gemini,1.03504,1.03504,Poloniex,1.03595,1.03595,0.00091,0.087919
4,5,2024-02-27T10:06:47.129079,polygon,1.0,Kraken,1.03380,1.03380,Poloniex,1.03595,1.03595,0.00215,0.207971

### Data Analysis
- View the average 'total_purchase_price', 'profit', 'spread_percentage' by exchange for each coin
- Then view by coin only

##### Averages by Exchange by Coin

In [9]:
# Convert the current_datetime column to only show the date
control_df['current_datetime'] = pd.to_datetime(control_df['current_datetime'].dt.date)

# Set the index to the current_datetime column
control_df.set_index('current_datetime')

# Preview df
display(control_df.groupby(['currency', 'buy_exchange'])[['total_purchase_amount','profit', 'spread_percentage']].mean())

                       total_purchase_amount   profit  spread_percentage
currency buy_exchange
bitcoin  Binance                 57067.43000  7.57000           0.013265
polygon  Binance                     1.03430  0.00165           0.159528
         Bitstamp                    1.03441  0.00154           0.148877
         Gemini                      1.03504  0.00091           0.087919
         Kraken                      1.03380  0.00215           0.207971

##### Averages by Coin

In [10]:
# Preview df
display(control_df.groupby(['currency'])[['total_purchase_amount','profit', 'spread_percentage']].mean())

          total_purchase_amount    profit  spread_percentage
currency
bitcoin            57067.430000  7.570000           0.013265
polygon                1.034388  0.001562           0.151074